examples/basic-flow.json
[
    {
        "id": "tab-thermo-example",
        "type": "tab",
        "label": "ThermoService příklad",
        "disabled": false,
        "info": "Základní ukázka node-red-contrib-thermoservice.\nNastavte URL na váš ThermoService endpoint a klikněte Deploy."
    },
    {
        "id": "ex-in",
        "type": "thermoservice-in",
        "z": "tab-thermo-example",
        "name": "DS18B20",
        "url": "http://localhost:5000/celsius",
        "interval": 60,
        "x": 160,
        "y": 120,
        "wires": [["ex-switch-err", "ex-debug-raw"]]
    },
    {
        "id": "ex-switch-err",
        "type": "switch",
        "z": "tab-thermo-example",
        "name": "Senzor OK?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {"t": "nnull"},
            {"t": "null"}
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 120,
        "wires": [["ex-tpl-format"], ["ex-debug-err"]]
    },
    {
        "id": "ex-tpl-format",
        "type": "template",
        "z": "tab-thermo-example",
        "name": "Formátuj zprávu",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Senzor: {{sensor}}  |  ROM: {{rom}}  |  Teplota: {{payload}} °C",
        "output": "str",
        "x": 570,
        "y": 100,
        "wires": [["ex-debug-out"]]
    },
    {
        "id": "ex-debug-out",
        "type": "debug",
        "z": "tab-thermo-example",
        "name": "Výstup",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 780,
        "y": 100,
        "wires": []
    },
    {
        "id": "ex-debug-err",
        "type": "debug",
        "z": "tab-thermo-example",
        "name": "Chyba senzoru",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.error",
        "targetType": "msg",
        "statusVal": "payload.error",
        "statusType": "auto",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "ex-debug-raw",
        "type": "debug",
        "z": "tab-thermo-example",
        "name": "Raw msg (vypnutý)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 370,
        "y": 200,
        "wires": []
    }
]
